/*@import 'keen-slider/keen-slider.min.css';*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap');


@import url('atropos/css');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Basier Circle', sans-serif;
    color: hsl(210, 36%, 96%);
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

.roboto {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.ant-input[type=password]{
    background: transparent !important;
}

.ant-switch-checked .ant-switch-inner{
    background:hsl(160, 51%, 49%);
}


.card-preview-item{
    background: linear-gradient(180deg, rgba(248, 248, 248, 0) 0%, rgba(193, 193, 193, 0.2) 100%);
}

.card-preview-item-dark{
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur( 25px );
    -webkit-backdrop-filter: blur( 25px );
}

.bubblePattern{
    position: relative;
    overflow: hidden;
}

.glassMorphismCard{
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur( 2.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.glassMorphismCard::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:hsl(235.94deg 99.04% 59.02%);
    opacity: 0.3;
    filter: blur(80px);
    top: 60%;
    left: 70%;
}

.bubblePattern::after{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background:#182C61;
    opacity: 0.3;
    filter: blur(80px);
    top: -10%;
    left: -5%;
}

.half-circle {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #4E3BEA;
    width: 80px;
    height: 80px;
    -webkit-animation: loader-spin 2s linear infinite;
    animation: loader-spin 2s linear infinite;
}
.half-circle-small {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #4E3BEA;
    width: 60px;
    height: 60px;
    -webkit-animation: loader-spin 2s linear infinite;
    animation: loader-spin 2s linear infinite;
}


.avatar::before {
    content: "";
    background: linear-gradient(to right, #11bbfe, #8c41fb);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
}

.footer_separator {
    border: none;
    border-left: 1px solid white;
    height: 50px;
    width: 1px;
}

@keyframes l {
    from {height: calc(var(--s)/2)}
}


/* Safari */
@-webkit-keyframes loader-spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes loader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Remove scrollbar */
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
